[DEFAULT]
# 訊息儲存與 Log 路徑
FileStorePath=store
FileLogPath=log

# Initiator 模式
ConnectionType=initiator

# 要連線的 Sell Side IP 與 Port
SocketConnectHost=127.0.0.1
SocketConnectPort=5001

# Session 時間範圍
StartTime=00:00:00
EndTime=23:59:59
HeartBtInt=30

# 使用 FIX Dictionary
UseDataDictionary=Y
DataDictionary=FIX42.xml

# 是否允許多重登入
AllowMultipleSessions=N

[SESSION]
BeginString=FIX.4.2
SenderCompID=BUYSIDE
TargetCompID=SELLSIDE
